p {font-family: Helvetica;
  border: 3px solid; color: #D3DCEA;
  font-size:17px;
  font-weight: bold;
  padding: 10px;
  border-radius: 25px;
  padding: 30px;
  width: 60%;
  line-height: 1.6;

}

body {
	background-color: #020729;
    color: #D3DCEA;
}

h3 {  
  font-style: italic;
}