p1 {  
  font-style: italic;
}

h3 {font-family: Times New Roman;
}

h1 {font-family: Tahoma;
  border: 3px solid black;
  padding: 10px;
  border-radius: 25px;
  padding: 40px;
  margin: auto;
  width: 60%;
}

body {
	color: #D3DCEA;
	background-color: #020729;
}

a {
	color: #D3DCEA;
}

ul {font-family: Times New Roman;
	font-weight: bold;
	line-height: 1.6;
	border: 3px solid; color: #D3DCEA;
	padding: 30px;
	border-radius: 25px;
}
